.cardinformation{
    display: inline-flex;
}

.card {
    width: 21rem;
    height: 7.75rem;
    border-radius: 0.875rem;
    color: black;
    position: relative;
    margin: 1rem;
}

.card--purple{
    background-image: linear-gradient(243.52deg, #653FBB 0%, #BA67D3 100%);
}

.card--green {
    background-image: linear-gradient(243.52deg, #3599CC -0.75%, #2ED4A6 100%);
}

.card--orange {
    background-image: linear-gradient(243.52deg, #EE7764 0%, #F7BA71 100%);
}

.card__loading {
    position: absolute;
    top: 1rem;
    left: 1rem;

    width: 0rem;
    height: 0rem;
    border-radius: 0rem;
    margin: 0rem;
}

.card__heading {
    font-weight: normal;
    font-size: 2rem;
    position: absolute;
    right: 0rem;
    bottom: 3rem;
    left: 1rem;
    
    width: 0rem;
    height: 0rem;
    border-radius: 0rem;
    margin: 0rem;
    
}

.card__totalcase {
    font-weight: bold;
    font-size: 3rem;
    position: absolute;
    right: 0rem;
    bottom: 7.5rem;
    left: 1rem;
    
    width: 0rem;
    height: 0rem;
    border-radius: 0rem;
    margin: 0rem;
}

.card__newcase {
    font-weight: normal;
    font-size: 2rem;
    position: absolute;
    right: 0rem;
    bottom: 3rem;
    left: 14rem;
    
    width: 0rem;
    height: 0rem;
    border-radius: 0rem;
    margin: 0rem;
}

.logo {
    width: 3.515625rem;
    height: 3.515625rem;
    position: absolute;
    top: 1rem;
    right: 0rem;
    bottom: 0rem;
    left: 15rem;
}